# macOS
.DS_Store

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/

# Ruby
Gemfile.lock

# Logs
*.log

# Python
venv/
env/
.venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Temporary files
*~
.tmp
